<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} JSenna {% endblock %}</title>


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> -->
</head>

<body>
  <nav class="navbar sticky-top  navbar-dark bg-dark">
    <a class="navbar-brand" href="http://www.jsenna.xyz"><font size="6"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></font></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <span class="border-0">
            <a class="nav-link" href="http://www.jsenna.xyz/data/">
              <font size="6"> Dados</font>
            </a>
          </span>
        </li>
      </ul>
      <span class="border-0">
      {% if user.is_authenticated %}
      <a class="nav-link" href="http://www.jsenna.xyz/logout"><button class="btn btn-danger"><font size="4">logout</font></button></a>
      {% else %}
      <a class="nav-link" href="http://www.jsenna.xyz/login"><button class="btn btn-success"><font size="4">login</font></button></a>
      {% endif %}
      </span>
  </nav>
  {% block body %}
  {% endblock %}
</body>
</html>
